@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {

}
@media (max-width: 767.98px) {
  .defaultPadding {
    padding: 20px 0;
  }


}
@media (max-width: 575.98px) {
  .offcanvas.offcanvas-end {
    width: 220px;
  }
}
@media only screen and (max-height: 539.98px) and (max-width: 1024px) {

}
